.idea/
.venv/
test/
datasets/
python-learning/basic/fake_test.parquet/
python-learning/advance/gpu/__pycache__/
.gitignore
.env
datasets/test_200MB.dat
python-learning/basic/test_200MB.dat
python-learning/basic/fake_test.csv
